<div class="container">
  <h2><%= @article.title %></h2>
  <p><%= @article.content %></p>

  <p><%=link_to "Do you want to edit this article? âœðŸ½", edit_article_path %></p>
  <p><%=link_to "Back to all tasks! ðŸ”™", articles_path %></p>
  <%= link_to "Delete task ðŸ—‘",
              article_path(@article),
              method: :delete,
              data: { confirm: "Are you sure you want to delete this?" } %>
</div>
